#### <ins> Tourist arrivals prediction </ins>

##### Tourism is a very important revenue generation sector for very many countries. Some countries entirely depend on tourism because it:
* Creates employment for the youth.
* Generates revenue for the government.
* Develops the infrastructure.

##### Apart from the economic impact, tourism also has social impacts on any society. This entails effects of host communities of direct and indirect relations to tourists, and interaction with the tourism industry. The social impacts are:
* **Preservation of local culture and heritage** -  Many destinations will make a conserved effort to preserve and protect the local culture. Many tourists will visit the destination especially to see its local heritage and culture. It is for this reason that many destinations will make every effort to preserve its heritage as well as culture.

* **Strengthening communities** - Events and festivals of which local residents have been the primary participants and spectators are often rejuvenated and developed in response to tourist interest.

* **Provision of social services** - The tourism industry requires many facilities/ infrastructure to meet the needs of the tourist. This often means that many developments in an area as a result of tourism will be available for use by the locals also. Local people often gained new roads, new sewage systems, new healthcare facilities and new playgrounds as a result of tourism. This can provide a great boost to their quality of life. 

##### On the other hand, tourism has its negative impacts to any society. 
* **Culture Clashes** - Because tourism involves movement of people to different geographical locations cultural clashes can take place as a result of differences in cultures, ethnic and religious groups, values, lifestyles, languages and levels of prosperity.

* **Increase in crime** - The presence of a large number of tourists with a lot of money to spend and often carrying valuables such as cameras and jewellery increases the attraction for criminals and brings with it activities like robbery and drug dealing.

##### Nonetheless, the good outweighs the bad.

##### <ins> Business Objective </ins>
##### Provided with tourism data and the rate of their arrivals, we seek out to:
* 1. Find the factors influencing tourism in the data provided. 
* 2. Find the seasons, months and years which are more frequented by tourists.
* 3. Build a predictive model to forecast tourist arrivals for easier planning.

In [1]:
# Data manipulation libraries
import pandas as pd 
import numpy as np  

# Visualization libraries
import matplotlib.pyplot as plt  
import seaborn as sns 
%matplotlib inline  

# Scikit-learn algorithms
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score, r2_score, mean_squared_error

# Gradient Boosting algorithms
import xgboost as XGB 
import lightgbm as lgb

In [2]:
df = pd.read_csv("train_df.csv", parse_dates=['date'])
df.head()

,id,date,tourist_area,spot_facility,tourist_arrivals,area,city,type,category,tourism_index,info,event,weather_index
0,0,2018-08-01,1,A,454,A,A,A,13,1750.0,A,A,40.05
1,1,2018-08-01,1,B,823,A,A,A,13,1750.0,A,A,40.05
2,2,2018-08-01,1,C,149,A,A,A,13,1750.0,A,A,40.05
3,3,2018-08-01,1,D,157,A,A,A,13,1750.0,A,A,40.05
4,4,2018-08-01,1,E,14,A,A,A,13,1750.0,A,A,40.05